div#container {
  background-color: #ffffff;
  margin: 0px;
  width: 100%;
  border-bottom:solid #cccccc 5px;
}

header h1 {
  color: white;
  background-color: #4aaaa5; 
  height: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px 0px 0px 220px;
  text-align: center;
  width: 360px; 
  padding: 20px;
  float:left;
  
}
div#container ::after{
  content:'';
  display: table;
  clear: both;
}

nav ul{
  float:left;
}

nav li {
  display:  inline-block;
  margin: 30px 0px 0px 110px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color:#777777;
}

div#class{
  background-color: white;
  width: 960px;
  border: solid#dddddd 2px;
  margin: 0px 0px 0px 220px;
}

h2{
  color: #4aaaa5; width: 260px; height: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px 0px 0px 80px;
}

body {
  background-image: white;
  margin: 0px;
  text-align: left;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  background-image: url(../EIswahyudi.github.io/ep_naturalwhite.png);

}

p{ 
  background-color: white;
  color: #777777;
  margin: 20px;
  
}

img {float: left;
  width: 28%;
  height: 35%;
  margin: 10px;
}

div#section {

  border-top: solid #4aaaa5 8px;
  border-bottom: solid hsl(0, 2%, 24%) 20px;
  background: hsl(0, 2%, 24%);
  margin:0;
}

h5{
  color:white;
}

div#section {
  text-align: center
}